<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header.ejs') %>

<body>
    <div class="container">
        <h3>Pokemons <%= pokemons.length %></h3>
        <div class="mt-3 p-3 bg-secondary">
            <div class="owl-carousel owl-theme">
                <% pokemons.forEach((pokemon) => { %>
                <div class="item">
                    <div class="cards">
                        <div class="card">
                            <div class="card__side card__side--front <%= pokemon.types[0] %>">
                                <div class="row">
                                    <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" class="pokemon-img">
                                    <div class="col-md-12">
                                        <h2 class="fw-bold mb-0 text-center"><%= pokemon.name %></h2>
                                    </div>
                                    <% if (pokemon.types.length > 1) { %>
                                    <% pokemon.types.forEach( type => { %>
                                    <div class="col-md-6 pt-4 text-center">
                                        <button type="button"
                                            class="fw-bold btn btn-light <%= type %>"><%= type %></button>
                                    </div>
                                    <% }) %>
                                    <% } else { %>
                                    <div class="col-md-12 pt-4 text-center">
                                        <button type="button"
                                            class="fw-bold btn btn-light <%= pokemon.types[0] %>"><%= pokemon.types[0] %></button>
                                    </div>
                                    <% } %>
                                    <!-- Fazer campos de tamanho e peso -->
                                </div>
                            </div>
                            <div class="card__side card__side--back <%= pokemon.types[0] %>">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" class="pokemon-img">
                                    </div>
                                    <div class="col-md-6 pt-4 text-center">
                                        <h4 class="fw-bold"><%= pokemon.name %></h4>
                                        <% pokemon.types.forEach( type => { %>
                                        <button type="button"
                                            class="fw-bold btn btn-light <%= type %>"><%= type %></button>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="fw-bold text-center">Abilities</h3>
                                    </div>
                                    <% pokemon.abilities.forEach( ability => { %>
                                    <div class="col-md-6 text-left">
                                        <h5 class="ms-4"><%= ability %></h5>
                                    </div>
                                    <% }) %>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="fw-bold text-center pb-2">Stats</h3>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
                                                            style="width: <%= pokemon.stats['hp'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['hp'] %>" aria-valuemin="0"
                                                            aria-valuemax="<%= maxValues['max-hp'] %>">
                                                            HP (<%= pokemon.stats['hp'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-attack progress-bar-striped progress-bar-animated" role="progressbar"
                                                            style="width: <%= pokemon.stats['attack'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['attack'] %>"
                                                            aria-valuemin="0"
                                                            aria-valuemax="<%= maxValues['max-attack'] %>">
                                                            ATTACK (<%= pokemon.stats['attack'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                                                            style="width: <%= pokemon.stats['defense'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['defense'] %>"
                                                            aria-valuemin="0"
                                                            aria-valuemax="<%= maxValues['max-defense'] %>">
                                                            DEFENSE (<%= pokemon.stats['defense'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                                            style="width: <%= pokemon.stats['special-attack'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['special-attack'] %>"
                                                            aria-valuemin="0"
                                                            aria-valuemax="<%= maxValues['max-special-attack'] %>">
                                                            SPECIAL ATTACK (<%= pokemon.stats['special-attack'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-special-defense progress-bar-striped progress-bar-animated" role="progressbar"
                                                            style="width: <%= pokemon.stats['special-defense'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['special-defense'] %>"
                                                            aria-valuemin="0"
                                                            aria-valuemax="<%= maxValues['max-special-defense'] %>">
                                                            SPECIAL DEFENSE (<%= pokemon.stats['special-defense'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-speed progress-bar-striped progress-bar-animated" role="progressbar"
                                                            style="width: <%= pokemon.stats['speed'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['speed'] %>"
                                                            aria-valuemin="0"
                                                            aria-valuemax="<%= maxValues['max-speed'] %>">
                                                            SPEED (<%= pokemon.stats['speed'] %>)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>

        </div>
    </div>

    <!-- Aplicar alterações no restante dos cards -->
    <div class="container">
        <div class="row">
            <% pokemons.forEach((pokemon) => { %>
            <div class="col-md-3">
                <div class="cards">
                    <div class="card">
                        <div class="card__side card__side--front <%= pokemon.types[0] %>">
                            <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" class="pokemon-img">
                            <h2 class="fw-bold mb-0 text-center"><%= pokemon.name %></h2>
                            <div class="card__descripton"> Details </div>
                        </div>
                        <div class="card__side card__side--back <%= pokemon.types[0] %>">
                            <div class="row">
                                <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" class="col-md-6">
                                <p class="col-md-6"><%= pokemon.types[0] %></p>
                                <!-- Fazer forEach nos tipos -->
                            </div>
                            <h2 class="fw-bold mb-0 text-center"><%= pokemon.name %></h2>
                            <div class="card__descripton"> <%= pokemon.abilities[0] %> </div>
                            <!-- Fazer forEach nos habilidades -->

                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>

    <!-- Carousel Script -->

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/carousel/owl.carousel.min.js"></script>
    <script src="js/setup.js"></script>

</body>

</html>