<!DOCTYPE html>
<html lang="pt-br">
<%- include ('./partials/header.ejs') %>

<body>
    <div class="container mt-3 pt-3 mb-3 pb-5">
        <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/pokemon-23-logo.png" alt="Pokemon-Logo" width="100%"
            class="pokemon-logo">
        <div class="container-pokeball">
            <div class="pokeball pokeball-animated" onclick="location.href = '/card';"></div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <h1 class="text-center choose">I Choose you!</h1>
        </div>
    </div>
    <div class="container pb-5">
        <div class="p-3">
            <div class="owl-carousel owl-theme">
                <% initialPokemons.forEach((pokemon) => { %>
                <div class="item">
                    <div class="cards">
                        <div class="custom-card">
                            <div class="card__side card__side--front <%= pokemon.types[0] %>">
                                <div class="row">
                                    <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" class="pokemon-img">
                                    <div class="col-md-12">
                                        <h2 class="fw-bold mb-0 text-center"><%= pokemon.name %></h2>
                                    </div>
                                    <% if (pokemon.types.length > 1) { %>
                                    <% pokemon.types.forEach( type => { %>
                                    <div class="col-md-6 pt-4 text-center">
                                        <button type="button"
                                            class="fw-bold btn btn-light <%= type %>"><%= type %></button>
                                    </div>
                                    <% }) %>
                                    <% } else { %>
                                    <div class="col-md-12 pt-4 text-center">
                                        <button type="button"
                                            class="fw-bold btn btn-light <%= pokemon.types[0] %>"><%= pokemon.types[0] %></button>
                                    </div>
                                    <% } %>
                                    <div class="col-md-6 text-center pt-4">
                                        <i class="fas fa-weight fa-2x"></i><p class="fw-bold"><%= pokemon.weight  / 10%> Kg</p>
                                        <p class="text-light">Weight</p>
                                    </div>
                                    <div class="col-md-6 text-center pt-4">
                                        <i class="fas fa-ruler-vertical fa-2x"></i><p class="fw-bold"><%= pokemon.height  / 10%> m</p>
                                        <p class="text-light">Height</p>
                                    </div>

                                    <!-- Fazer campos de tamanho e peso -->
                                </div>
                            </div>
                            <div class="card__side card__side--back <%= pokemon.types[0] %>">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" class="pokemon-img">
                                    </div>
                                    <div class="col-md-6 pt-4 text-center">
                                        <h4 class="fw-bold"><%= pokemon.name %></h4>
                                        <% pokemon.types.forEach( type => { %>
                                        <button type="button"
                                            class="fw-bold btn btn-light <%= type %>"><%= type %></button>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="fw-bold text-center">Abilities</h3>
                                    </div>
                                    <% pokemon.abilities.forEach( ability => { %>
                                    <div class="col-md-6 text-left">
                                        <h5 class="ms-4"><%= ability %></h5>
                                    </div>
                                    <% }) %>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="fw-bold text-center pb-2">Base Stats</h3>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            style="width: <%= pokemon.stats['hp'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['hp'] %>" aria-valuemin="0"
                                                            aria-valuemax="100">
                                                            HP (<%= pokemon.stats['hp'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-attack progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            style="width: <%= pokemon.stats['attack'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['attack'] %>"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            ATTACK (<%= pokemon.stats['attack'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            style="width: <%= pokemon.stats['defense'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['defense'] %>"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            DEFENSE (<%= pokemon.stats['defense'] %>)</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            style="width: <%= pokemon.stats['special-attack'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['special-attack'] %>"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            SPECIAL ATTACK (<%= pokemon.stats['special-attack'] %>)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-special-defense progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            style="width: <%= pokemon.stats['special-defense'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['special-defense'] %>"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            SPECIAL DEFENSE (<%= pokemon.stats['special-defense'] %>)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 pb-3">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-speed progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            style="width: <%= pokemon.stats['speed'] %>%"
                                                            aria-valuenow="<%= pokemon.stats['speed'] %>"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            SPEED (<%= pokemon.stats['speed'] %>)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="row pt-3 pb-5">
        <div class="col-md-12">
            <h1 class="fw-bold text-center">About me</h1>
        </div>
    </div>
    <div class="container aboutMe">
        <section>
            <div class="about_container">
                <div class="about_card">
                    <div class="about_content">
                        <div class="imgBx"><img src="img/Stenio.jpg" alt="Stenio D. Rapchan" width="300px"></div>
                            <div class="contentBx">
                                <h3>Stenio D. Rapchan<br><span><span id="spin"></span> Developer Jr.</span></h3>
                            </div>
                    </div>
                        <ul class="sci">
                            <li style="--i:1">
                                <a href="https://www.linkedin.com/in/stenio-dias-rapchan/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                            </li>
                            <li style="--i:2">
                                <a href="https://github.com/steniodr/" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
                            </li>
                            <li style="--i:3">
                                <a href="mailto:steniodr@hotmail.com"><i class="fas fa-envelope-square fa-2x"></i></a>
                            </li>
                        </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="row pt-3 pb-5">
        <div class="col-md-12">
            <h1 class="fw-bold text-center">Did you think it's over? Click on the pokeball and see more Pokemons! </h1>
        </div>
    </div>
    <div class="btn-back-to-top" onclick="backToTop()">
        <i class="fas fa-arrow-up fa-2x"></i>
    </div>

<%- include ('./partials/footer.ejs') %>

</body>

</html>